.dashboard-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agenda-card{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-bottom: 1em;
}

.agenda-card-btn{
    grid-row-start: 1;
    grid-row-end: 2;
    height: 3em;
}

.agenda-card-design{
    grid-row-start: 2;
    grid-row-end: 4;
    height: 13em;
}

.agenda-card-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
}

.exercise-col-1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.exercise-col-2{
    grid-column-start: 2;
    grid-column-end: 3;
}
.exercise-col-3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.exercise-col-4{
    grid-column-start: 4;
    grid-column-end: 5;
}

.total-card{
    display: grid;
    column-gap: 1em;
    width: 100%;
    grid-template-columns: auto auto auto
}

.total-card-title{
    grid-column: span 3;
}

.total-card-item{
    grid-row-start: 2;
    grid-column: span 1;
    justify-self: center;
}