.navbar {
    background-color: #5E1296;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.185);
    position: sticky;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links{
    display: flex;
    gap: 1.5rem;
}

.navbar .sign-in button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;

}

.header-left {
    display: flex;
}

.login-btn:hover {
    transition: 410ms;
    opacity: 50%;
}

.header-btn {
    font-weight: bolder;
    border-radius: 100px;
    padding: 5px 20px;

    background: white;
    color: #9F35EC;
    border: #9F35EC 1px solid;
}

.header-btn:hover {
    transition-duration: 500ms;
    background: #9F35EC;
    color: white;
}

.logout-btn{
    font-weight: bolder;
    background: none;
}